.App {
  height: 100%;
  width: 100%;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  padding: 22px 0px;
  background: #dcdee1;
  border-top: 1px solid #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer p {
  padding: 2px 0px;
}

.clickable {
  cursor: pointer;
  color:#39afe6;
}

.clickable:hover {
  color: rgb(21, 101, 126);
}

.clickable:focus {
  color: #fff;
}
