.header {
  height: 60px;
  background-color: wheat;
  border-bottom: 1.5px solid #ddd;
  display: flex;
  align-items: center;
  padding: 0 10%;
}


.nav-right {
  flex: 1;
  position: relative;
  display:flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-right > * {
  padding: 0px 10px;
}

.nav-right.create-thread {
  display: flex;
  align-items: center;
}

.theme {
  display: flex;
  align-items: center;
}